<link rel="stylesheet" href="/css/global.css" />

<footer>
    <nav class="nav_footer">
        <ul class="nav_link">
          <li><a href="http://www.github.com/CoDeReD72" target="_blank"><img height="25" width="25" src="https://raw.githubusercontent.com/devicons/devicon/v2.15.1/icons/github/github-original.svg" /></a></li>
          <li><a href="https://mastodon.social/@CoDeReD72" target="_blank"><img height="25" width="25" src="https://www.svgrepo.com/show/330895/mastodon.svg" /></a></li>
          <li><a href="https://www.linkedin.com/in/declan-gallagher-932224210/" target="_blank"><img height="25" width="25" src="https://raw.githubusercontent.com/devicons/devicon/v2.15.1/icons//linkedin/linkedin-plain.svg" /></a></li>
        </ul>
      </nav>
</footer>

