<head>
  {% include "../basehead.html" %} {% block head %} {% endblock %}
  <link rel="stylesheet" href="/css/post.css" />
</head>

{% block content %}
<article class="post__content">
  <h1>{{ title }}</h1>

  <p><date> {{ date }} </date></p>

  <h3 class="categories">Categories</h3>
  <ul class="categories">
    {% for tag in tags %}
    <li><a href="/blog/tag/{{tag | slugify}}">{{tag}}</a></li>
    <!-- Links to a 'tag' page which can be used to organise categories (Slugify used to take %20 of any spaces and replace with - )-->
    {% endfor %}
  </ul>

  {{ content | safe }}
  <!-- Safe must be used to stop md rendering as html tags-->
</article>
{% endblock %}
