@import url("./reset.css");

* {
  box-sizing: border-box;
  background-color: #444444;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  margin-left: 0%;
  width: 10%;
}

.navbar {
  float: right;
  justify-content: space-between, center;
  background-color: #5ececc;
  width: 90%;
  padding: 5px;
  justify-content: center;
}

.nav_link {
  list-style: none;
  background-color: #5ececc;
  text-align: center;
}

.nav_link li {
  display: inline-block;
  background-color: #5ececc;
  margin-inline-start: 10%;
}

.nav_link li a {
  background-color: #5ececc;
  color: #444444;
  font-size: larger;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
  color: white;
}

.post_list {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #5ececc;
  transition: all 0.3s ease 0s;
}

/*
 .card__container{
    background-color: #5ececc;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 200px;
    padding: 0;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

TO BE USED TO CREATE CONTENT CARDS IN THE FUTURE
*/
